body{
    background-color:#9df9ef;
    font: 1em sans-serif;

}

/* .tb{
   
    font: 1em sans-serif;
  

} */

.href1{
   
 
    align-content: center;
}
a:link {
    color: rgb(18, 231, 53);
    
  }
  
  /* visited link */
  a:visited {
    color: rgb(192, 109, 109);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(134, 47, 255);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

.lnk{

    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

}

.lnk{

background:#9df9ef;
padding:20px;
position: down;
bottom:10px;
left:45%;
border-radius:10px;
}

  